*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
    color: aliceblue;
    background-color: black;
}
section{
    display: flex;
    justify-content: space-evenly;
    margin: 0 40px;
    

}
.header {
    
    width: 100%;
    padding: 10px;
    background-color: rgb(93, 180, 180);
    margin-bottom: 50px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.header h2{
    width: 100%;
   margin-left: 45%;
    color: rgb(216, 12, 12);
}
h3{
    text-align: center;
}
#txtinput {
    width: 100%;
    resize: none;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 25px;
}

#txtoutput {
    width: 100%;
    resize: none;
    padding: 1em;
    font-size: 25px;
   
}

.btn {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
    outline: none;
    cursor: pointer;
    margin: 50% 15px ;
    border: none;
    padding: 15px;
    margin-bottom: 2em;
    background-color: rgb(235, 122, 30);
}
@media only screen and (max-width: 600px) {
     section{
         flex-direction: column;
         margin: 15px;
     }
     .btn{
        margin: 2% 15px ;
     }
  }